<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AntiquePainting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/AntiquePainting.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="card-wrapper">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img
                src="./shoes_images/AntiquePainting.jpg"
                alt="Painting image"
              />
            </div>
          </div>
          <div class="img-select"></div>
        </div>

        <!-- card right -->

        <div class="product-content">
          <h2 class="product-title">Antique Painting</h2>
          <!-- <a href = "#" class = "product-link">Visit our website daily for lastest updates</a> -->
          <div class="product-rating">
            <span>4.2(28)</span>
          </div>

          <div class="product-price">
            <p class="last-price">Old Price: <span>$1500.00</span></p>
            <p class="new-price">New Price: <span>$1300.00 (5%)</span></p>
          </div>

          <div class="product-detail">
            <h2>about this item:</h2>
            <p>
              Ganpati paintings are considered auspicious and are believed to
              keep away negative vibes or energy. Many believe that having them
              around will lead to the successful completion of tasks.
            </p>
            <p>
              This painting is of our God Lord Ganesh, Beautifully displayed
              with contrasting colours & it's perfect to increase the positivity
              for your home.
            </p>
            <ul>
              <li>Color: <span>Black & Shady Green</span></li>
              <li>Available: <span>In stock</span></li>
              <li>Category: <span>Paintings</span></li>
              <li>
                Shipping Area: <span>Delhi,Sonipat,Karnal,Chandigarh</span>
              </li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class="purchase-info">
            <input type="number" min="0" value="1" />
            <a href="/billing"
              ><button type="button" class="btn">
                Add to Cart <i class="fas fa-shopping-cart"></i></button
            ></a>
            <button type="button" class="btn">Bid</button>
          </div>

          <div class="social-links">
            <p>Share At:</p>
            <a
              href="https://in.search.yahoo.com/search?fr=mcafee&type=E210IN826G0&p=facebook+login"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/?lang=en-in">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/pratty_srii/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.whatsapp.com/">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://in.pinterest.com/">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="./javascriptfiles/AntiquePainting.js"></script>
  </body>
</html>
