<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Pacifico&family=Poppins:wght@200;400;500&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />

    <!-- style.css  -->
    <link rel="stylesheet" href="Home_Categories_LetestProducts.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- fontawesome cdn link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
    />

    <title>painting1</title>
  </head>

  <body id="top">
    <!-- ==============header menu section starts here============== -->
    <section class="header_menu" id="header_menu">
      <div class="container-fluid px-0 shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3">
          <a class="navbar-brand pl-5 pl-small-0" href="Home.ejs">
            <img
              src="HomeImages/bidlogo.jpg"
              class="img img-fluid"
              width="100px"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" id="a_1"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/Latest" id="a_2">Latest</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/Categories" id="a_3">Category</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <!-- ==============header menu section ends here============== -->

    <!-- ==============products starts here============== -->
    <section class="products py-5 my-5" id="products">
      <div class="container">
        <div class="section_title text-center mb-4">
          <h1 class="text-capitalize" id="pro">Latest</h1>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-5">
              <div class="col-md-4 col-12">
                <div class="single_product shadow text-center p-1">
                  <div class="product_img">
                    <a href="virat_kohli.html">
                      <img
                        src="LatestProductsImages/virat_frame.PNG"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>

                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>

                    <h5>
                      <a href="virat_kohli.html">Virat Kohli's Sign</a>
                    </h5>

                    <div class="price">
                      <b><span class="mr-1">₹</span><span>2000</span></b>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12">
                <div
                  class="single_product shadow text-center p-1 mt-small-5 mb-small-5"
                >
                  <div class="product_img">
                    <a href="sachin_sir_frame.html"
                      ><img
                        src="LatestProductsImages/sachin_sir_frame.PNG"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="sachin_sir_frame.html">Sachin Tendulkar Sign</a>
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>999</span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="single_product shadow text-center p-1">
                  <div class="product_img">
                    <a href="virat_kohli_T-shirt_1.html"
                      ><img
                        src="LatestProductsImages/virat_kohli.PNG"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="virat_kohli_T-shirt_1.html"
                        >Virat Kohli's Sign</a
                      >
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>1899</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="single_product shadow text-center p-1">
                  <div class="product_img">
                    <a href="funiture1.html"
                      ><img
                        src="LatestProductsImages/furniture1.jpg"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="funiture1.html">Antique Table</a>
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>699</span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div
                  class="single_product shadow text-center p-1 mt-small-5 mb-small-5"
                >
                  <div class="product_img">
                    <a href="furniture_2.html"
                      ><img
                        src="LatestProductsImages/furniture2.jpg"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="furniture_2.html">Antique Chair</a>
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>1999</span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="single_product shadow text-center p-1">
                  <div class="product_img">
                    <a href="pots.html"
                      ><img
                        src="LatestProductsImages/pots.jpg"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="pots.html">Ancient vask </a>
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>799</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="single_product shadow text-center p-1">
                  <div class="product_img">
                    <a href="8.html"
                      ><img
                        src="LatestProductsImages/8.jpg"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="8.html">Beautifull Lake</a>
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>699</span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div
                  class="single_product shadow text-center p-1 mt-small-5 mb-small-5"
                >
                  <div class="product_img">
                    <a href="10.html"
                      ><img
                        src="LatestProductsImages/10.jpg"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5><a href="10.html">Ghat Painting</a></h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>1999</span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="single_product shadow text-center p-1">
                  <div class="product_img">
                    <a href="14.html"
                      ><img
                        src="LatestProductsImages/14.jpg"
                        class="img img-fluid"
                        alt=""
                      />

                      <div class="new_product" id="new">
                        <span class="badge py-2 px-3 badge-pill badge-danger"
                          >Go</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <h5>
                      <a href="14.html">Religious Painting </a>
                    </h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>799</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ==============product ends here============== -->

    <!-- ==============footer starts here============== -->

    <hr />
    <section class="footer_section pt-5 pb-2" id="footer_section">
      <footer>
        <div class="border-top">
          <h6 class="text-center mt-5" id="footx">
            Copyright ©2022 All rights reserved
          </h6>
        </div>
      </footer>
    </section>
    <div class="backtop">
      <a
        id="button"
        href="#top"
        class="btn btn-lg btn-outline-danger"
        role="button"
      >
        <i class="fas fa-chevron-up text-dark"></i>
      </a>
    </div>

    <div class="backtop_1">
      <a
        id="button"
        href="#top"
        class="btn btn-lg btn-outline-danger"
        role="button"
      >
        <i class="fas fa-chevron-up text-dark"></i>
      </a>
    </div>
    <!-- ==============footer ends here============== -->
  </body>
</html>
